<nav class="navbar navbar-default navbar-fixed-top">
  <div class="content">
    <%= link_to "MyRecipes", "", class:"btn btn-large btn-success",id: "logo" %>
    <div class="nav_item">
      <%= link_to "Link 1", "", class:"btn btn-large btn-warning",id: "link1" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 2", "", class:"btn btn-large btn-warning",id: "link2" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 3", "", class:"btn btn-large btn-warning",id: "link3" %>
    </div>
  </div>
</nav>